{% extends "base.twig" %}

{% block title %} CV {% endblock %}
{% block content %}

<h1>CV</h1>

<p>Return the CV data</p>

<h2>Access</h2>
<p><span class="label label-info">GET</span> <code> https://api.doyoubuzz.com/cv/:id</code> 

<p>&nbsp;</p>

{% include 'common/cv.twig' %}		

{% endblock %}

