Options -Indexes

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteEngine on
RewriteCond $1 !^(index\.php|assets/|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]

#AddType x-mapp-php5 .php
#AddHandler x-mapp-php5 .php 