{% extends "base.twig" %}

{% block title %} Baseslist {% endblock %}
{% block content %}



<h1>Baseslist</h1>

<p>The base list return a list of the different datas used on DoYouBuzz.</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> https://api.doyoubuzz.com/baseslist</code>

<p>&nbsp;</p>

<h2>Datas</h2>

<p>&nbsp;</p>
<table class="table table-bordered table-striped">	
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>contractType</td>
		<td>List of contracts</td>
	</tr>
	<tr>
		<td>positions</td>
		<td>List if positions, organized in two levels</td>
	</tr>
	<tr>
		<td>businness</td>
		<td>List of industries, organized in two levels</td>
	</tr>
	<tr>
		<td>businessTrip</td>
		<td>List of business trips frequencies</td>		
	</tr>
	<tr>
		<td>educationLevel</td>
		<td>List of education levels</td>
	</tr>		
	<tr>
		<td>hoursNumber</td>
		<td>List of part-time / fill-time hours</td>
	</tr>	
	<tr>
		<td>grossSalary</td>
		<td>List of salary ranges</td>
	</tr>
	<tr>
		<td>nationality</td>
		<td>List of nationalities</td>
	</tr>
	<tr>
		<td>seniority</td>
		<td>List of seniority ranges</td>
	</tr>
	<tr>
		<td>Status Professionnel</td>
		<td>Professional status of the user (as described on the CV)</td>
	</tr>
	<tr>
		<td>Disponibilité</td>
		<td>Availability of the user (as described on the CV)</td>
	</tr>
	<tr>
		<td>Type de contrat de travail</td>
		<td>Type of contract</td>
	</tr>	
	
</table>

<h2>Examples</h2>

You can see the example live on <a href="https://api.doyoubuzz.com/baseslist">https://api.doyoubuzz.com/baseslist</a>

		
{% endblock %}