<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - DoYouBuzz API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/dyb-api.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a id="dybLogo" href="/">Developers</a>
          {#          
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          #}
        </div>
      </div>
    </div>
	
	{% block container %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Overwiew</li>
              <li{% if template == 'overview/summary' %} class="active"{% endif %}><a href="/overview/summary">Summary</a></li>
              <li{% if template == 'baseslist' %} class="active"{% endif %}><a href="/baseslist">Baseslist</a></li>

              <li class="nav-header">DoYouBuzz API</li>
              <li{% if template == 'authentication/oauth' %} class="active"{% endif %}><a href="/authentication/oauth">Authentication</a></li>              
              <li{% if template == 'dyb/user' %} class="active"{% endif %}><a href="/dyb/user">User</a></li>
              <li{% if template == 'dyb/cv' %} class="active"{% endif %}><a href="/dyb/cv">CV</a></li>
              <li{% if template == 'dyb/employment-preferences' %} class="active"{% endif %}><a href="/dyb/employment-preferences">Employment preferences</a></li>              
              <li{% if template == 'dyb/search' %} class="active"{% endif %}><a href="/dyb/search">Search</a></li>
              <li{% if template == 'dyb/metadatas' %} class="active"{% endif %}><a href="/dyb/metadatas">Metadatas</a> </li>
              <li{% if template == 'dyb/lastupdate' %} class="active"{% endif %}><a href="/dyb/lastupdate">Last update <span class="label label-warning">New</span></a>  </li>
              <li{% if template == 'dyb/created' %} class="active"{% endif %}><a href="/dyb/created">Created <span class="label label-warning">New</span></a> </li>
              <li{% if template == 'dyb/lastdelete' %} class="active"{% endif %}><a href="/dyb/lastdelete">Last delete <span class="label label-warning">New</span></a></li>
              

              <li class="nav-header">Showcase API</li>
              <li{% if template == 'authentication/pro' %} class="active"{% endif %}><a href="/authentication/pro">Authentication</a></li>              
              <li{% if template == 'pro/proxy' %} class="active"{% endif %}><a href="/pro/proxy">Proxy to the DoYouBuzz API</a></li>
              <li{% if template == 'pro/users' %} class="active"{% endif %}><a href="/pro/users">Users</a></li>
              <li{% if template == 'pro/tags' %} class="active"{% endif %}><a href="/pro/tags">Tags</a></li>

              <li class="nav-header">Search API</li>
              <li{% if template == 'search/capping' %} class="active"{% endif %}><a href="/search/capping">Capping</a></li>
              <li{% if template == 'search/search' %} class="active"{% endif %}><a href="/search/search">Search</a></li>
              <li{% if template == 'search/user' %} class="active"{% endif %}><a href="/search/user">User</a></li>
              <li{% if template == 'search/cv' %} class="active"{% endif %}><a href="/search/cv">CV</a></li>
              <li{% if template == 'search/employment-preferences' %} class="active"{% endif %}><a href="/search/employment-preferences">Employment Preferences</a></li>
              <li{% if template == 'search/metadatas' %} class="active"{% endif %}><a href="/search/metadatas">Metadatas</a></li>

              <li class="nav-header">Partner API (deprecated)</li>
              <li{% if template == 'authentication/partner' %} class="active"{% endif %}><a href="/authentication/partner">Authentication</a></li>
              <li{% if template == 'partner/user' %} class="active"{% endif %}><a href="/partner/user">User</a></li>
              <li{% if template == 'partner/employment' %} class="active"{% endif %}><a href="/partner/employment">Employment preferences</a></li>
              <li{% if template == 'partner/cv' %} class="active"{% endif %}><a href="/partner/cv">CV</a></li>
              <li{% if template == 'partner/publicurl' %} class="active"{% endif %}><a href="/partner/publicurl">Public URL</a></li>
              <li{% if template == 'partner/partner' %} class="active"{% endif %}><a href="/partner/partner">Partner</a></li>
              <li{% if template == 'partner/groups' %} class="active"{% endif %}><a href="/partner/groups">Partner groups</a></li>
              <li{% if template == 'partner/partner-group-users' %} class="active"{% endif %}><a href="/partner/partner-group-users">Partner group users</a></li>
              <li{% if template == 'partner/partner-last-update' %} class="active"{% endif %}><a href="/partner/partner-last-update">Partner last update</a></li>
              <li{% if template == 'partner/member-by-external-id' %} class="active"{% endif %}><a href="/partner/member-by-external-id">Member by external id</a></li>
              <li{% if template == 'partner/search' %} class="active"{% endif %}><a href="/partner/search">Search</a></li>


            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8">
        
          
          {% block content %}


          
          {% endblock %}
          

          
          
			
          		
          
        </div><!--/span-->
      </div><!--/row-->



    </div><!--/.fluid-container-->
	{% endblock %}
	<footer>
        <p>&copy; DoYouBuzz 2013 - If you find a typo or an error, <a href="https://github.com/doyoubuzz/api-doc/issues">open a ticket</a>.</p>
      </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script src="../assets/js/dyb-api.js"></script>
    
    
    <link type="text/css" rel="stylesheet" href="../assets/js/dp.SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link>
	<script language="javascript" src="../assets/js/dp.SyntaxHighlighter/Scripts/shCore.js"></script>
	<script language="javascript" src="../assets/js/dp.SyntaxHighlighter/Scripts/shBrushXml.js"></script>
	<script language="javascript" src="../assets/js/dp.SyntaxHighlighter/Scripts/shBrushJScript.js"></script>
	<script language="javascript" src="../assets/js/dp.SyntaxHighlighter/Scripts/shBrushPhp.js"></script>
	<script language="javascript">
	dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
	dp.SyntaxHighlighter.HighlightAll('code');
</script>


  </body>
</html>
