{% extends "base.twig" %}

{% block title %}Welcome {% endblock %}
{% block container %}
	<div id="home">
		<div id="topPart">
			<img id="dyblogo" src="/assets/img/dyb_fatLogo.png">
			<h2>Developers Documentation</h2>
			<br/>
			<img id="illus" src="/assets/img/dybApi.png">
		</div>
		<div id="bottomPart">
			<p>The DoYouBuzz APIs gives you access to the data used on DoYouBuzz and DoYouBuzz Showcase</p>
			<a href="dyb/summary">DoYouBuzz API</a>
			<a href="pro/summary">Showcase API</a>
		</div>
	</div>

{% endblock %}	

