{% extends "base.twig" %}

{% block title %}Welcome {% endblock %}
{% block content %}
<h2>Welcome on the DoYouBuzz API Documentation</h2>

The DoYouBuzz API gives you access to all the data used on DoYouBuzz.

<br><br>
<a class="btn btn-submit btn-primary">Get started</a>







{% endblock %}	

