{% extends "base.twig" %}
{% block title %} API Summary {% endblock %}

{% block content %}

<h1>APIs Summary</h1>

<div class="alert alert-success">If you have any technical questions, please use this forum : <a href="https://groups.google.com/forum/?fromgroups#!forum/doyoubuzz-developers" target="_blank">https://groups.google.com/forum/?fromgroups#!forum/doyoubuzz-developers</a></div>

<div class="row">

	<div style="margin-left:30px;">
		<div class="span4 mini-layout">
			<h2>DoYouBuzz API</h2>

			<p>With the DoYouBuzz API you can access all the data of the users who have authorized your application.</p>
			<p>As an independant developers wanting to leverage DoYouBuzz datas, this is the API you want to use.</p>

			<h3>API Keys</h3>

			<p>To get your DoYouBuzz API, drop us an email (<a href="mailto:api@doyoubuzz.com">api@doyoubuzz.com</a>) and explain your project! :)</p>

			<h3>Schema</h3>

			<h4>Access</h4>
			<p><code>https://api.doyoubuzz.com</code></p>

			<h4>Format</h4>
			<p>Datas are sent as XML and received as XML or JSON (append ?format=json or ?format=xml at the end of your request)</p>

			<h4>Get started</h4>

			<p>Once you have your API Keys, check our <a href="/authentication/auth">authentication mecanism</a> (we use oAuth 1.0) and the methods available on the left-side menu).</p> 

			<p>You can also check our <a href="https://github.com/doyoubuzz/dyb-api-connexion-php">examples on Github</a>.</p>
			

		</div>

		<div class="span4 mini-layout">
			<h2>Showcase API</h3>

			<p>The Showcase API allows you to access your private CV database.</p>
			<p>If you are a company, school or university using either DoYouBuzz Showcase or DoYouBuzz Campus, this is your API.</p>

			<h3>API Keys</h3>
			<p>You can get your apikey by login as an admin on your DoYouBuzz Showcase account, under "Settings", then "API".</p>

			<h3>Schema</h3>
			
			<h4>Access</h4>
			<p><code style="font-size:9px;">https://showcase.doyoubuzz.com/api/v1/</code></p>

			<h4>Format</h4>
			<p>Datas are send as XML and returned as JSON.</p>

			<h4>Get started</h4>
			<p>Get your API Keys in the admin section of your Showcase / Campus app, check our <a href="/pro/auth">authentication mecanism</a> and the methods available (on the left-side menu).<p>
			
			<p>You can also check our <a href="https://github.com/doyoubuzz/dyb-api-connexion-php">PHP Library and examples on Github</a>.</p>
		</div>

		<div class="span4 mini-layout">
			<h2>Search API</h2>

			<p>The Search API allows you to search the DoYouBuzz CV database programmatically.</p>
			<p>As a software editor wanting to give access to the DoYouBuzz Search to your clients, this is your API.</p>

			<h3>API Keys</h3>
			<p><a href="https://search.doyoubuzz.com">Get in touch</a> with us to explain your project, and your account manager at DoYouBuzz will send your API keys.</p>

			<h3>Schema</h3>

			<h4>Access</h4>
			<p><code>https://api.doyoubuzz.com/search/</code></p>

			<h4>Format</h4>
			<p>Datas are sent as XML and returned as JSON.</p>

			<h4>Get started</h4>
			<p>One you have your API Keys, test a <a href="/search/search">basic search request</a> and display a user CV with both the <a href="/search/user">user</a> and the <a href="/search/cv">CV</a> method.</p>

		</div>
	</div>
</div>










{% endblock %}	
