{% extends "base.twig" %}

{%  block title %}Showcase authentication{% endblock %}

{% block content %}

<h2>Proxy to the DoYouBuzz API</h2>

<p>Showcase relies on DoYouBuzz to manage user CV, employment preferences and other datas.</p>

<p>The Showcase API provides a Proxy, which is a convenient way to access the DoYouBuzz API. Under the hood, the Proxy checks that the user has authorized your DoYouBuzz Showcase to access his datas.</p>

<h3>Access</h3>
<p><span class="label label-info">GET</span> <code>http://showcase.doyoubuzz.com/api/v1/dyb/&lt;method&gt;</code> <span class="label label-warning">+ mandatory parameters for <a href="/authentication/pro">authentication</a></span></p>


<p>The following methods in the DoYouBuzz API are available through the Proxy :</p>
<p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name on DoYouBuzz</th>
		<th>Full Showcase API URL</th>
	</tr>	
	<tr>
		<td><a href="/dyb/user">/user</a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/user</td>
	</tr>
	<tr>
		<td><a href="/dyb/cv">/cv</a></a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/cv</td>
	</tr>
	<tr>
		<td><a href="/dyb/cv-display">dyb/cv/:id/display/*</a></a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/cv/:id/display/*</td>
	</tr>
	<tr>
		<td><a href="/dyb/employment-preferences">/employmentpreferences</a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/employmentpreferences</td>
	</tr>
	<tr>
		<td><a href="/dyb/search">/search</a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/search</td>
	</tr>		
	<tr>
		<td><a href="/dyb/metadatas">/metadatas</a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/metadatas</td>
	</tr>	
	<tr>
		<td><a href="/dyb/app/lastupdate">/app/lastupdate</a></td>
		<td>https://showcase.doyoubuzz.com/api/v1/dyb/users/lastupdate</td>
	</tr>			

</table>
</p>


<h3>Additional "isIdOrigin" parameter</h3>

<p>The proxy adds an additional "isIdOrigin" parameter on some of the DoYouBuzz API methods. If set to "1", this parameters indicates the ID you are sending to the method is the ID on your system. It works only if you have setup a SSO in your Showcase accounct. The isOriginId parameter works on the following DoYouBuzz API methods :
	<ul>
		<li><a href="/dyb/user">/user</a></li>		
		<li><a href="/dyb/employment-preferences">/employmentpreferences</a></li>		
		<li><a href="/dyb/metadatas">/metadatas</a></li>
	</ul>
</p>

{% endblock %}
