{% extends "base.twig" %}

{% block title %} DoYouBuzz Showcase API {% endblock %}
{% block content %}

<h2>Showcase API</h3>

<p>The Showcase API allows you to access your private CV database.</p>
<p>If you are a company, school or university using either DoYouBuzz Showcase or DoYouBuzz Campus, this is your API.</p>

<h3>API Keys</h3>
<p>You can get your apikey by login as an admin on your DoYouBuzz Showcase account, under "Settings", "Technical" then "API".</p>

<h3>Schema</h3>

<h4>Access</h4>
<p><code>https://showcase.doyoubuzz.com/api/v1/</code></p>

<h4>Format</h4>
<p>Datas are sent as XML and returned as JSON.</p>

<h4>Get started</h4>
<p>Get your API Keys in the admin section of your Showcase / Campus app, check our <a href="/pro/auth">authentication mecanism</a> and the methods available (on the left-side menu).<p>

<p>You can also check our <a href="https://github.com/doyoubuzz/dyb-api-connexion-php">PHP Library and examples on Github</a>.</p>

<h4>Libraries</h4>

<p>A few libraries have been developed by DoYouBuzz and others:</p>
<ul>
    <li><a href="https://github.com/doyoubuzz/dyb-api-connexion-php/tree/master/Showcase">DoYouBuzz Showcase PHP Wrapper</a></li>
    <li><a href="https://github.com/AppVentus/DybApiBundle">AppVentus Showcase Bundle for Symfony2</a></li>
    <li><a href="https://github.com/MrRuru/doyoubuzz-showcase">MrRuru's Ruby Gem</a></li>
</ul>

{% endblock %}

