{% extends "base.twig" %}

{% block title %} Tags {% endblock %}
{% block content %}

<h1>Users</h1>

<p></p>

<h2>Get all the tags for your company</h2>
<p><span class="label label-info">GET</span> <code> /tags</code> 

<p><a class="btn js-expand" href="javascript:void()" data-show-element="tags-example">Example</a>


<div class="js-expandable tags-example">
<p><span class="label label-info">GET</span> <code> /tags</code>	
<pre name="code" class="javascript">
[
    {
        "id": 16,
        "title": "Pilote"
    },
    {
        "id": 17,
        "title": "Mécanicien"
    },
    {
        "id": 18,
        "title": "Scientifique"
    },
    {
        "id": 19,
        "title": "Politicien"
    },
    {
        "id": 20,
        "title": "Viper"
    },
    {
        "id": 21,
        "title": "Co-Pilote"
    },
    {
        "id": 265,
        "title": "Statut"
    },
    {
        "id": 266,
        "title": "En mission"
    },
    {
        "id": 267,
        "title": "Disponible"
    },
    {
        "id": 269,
        "title": "Localisation"
    },
    {
        "id": 270,
        "title": "Caprica"
    },
    {
        "id": 271,
        "title": "Battlestar"
    },
    {
        "id": 272,
        "title": "Pegasus"
    },
    {
        "id": 273,
        "title": "Basestar"
    },
    {
        "id": 274,
        "title": "Colonial one"
    }
]
</pre>
</div>



<h2>Get a single tag information</h2>
<p><span class="label label-info">GET</span> <code> /tags/:id</code>


<p><a class="btn js-expand" href="javascript:void()" data-show-element="tag-example">Example</a>
<div class="js-expandable tag-example">

<p><span class="label label-info">GET</span> <code> /tags/271</code>	
<pre name="code" class="javascript">
{
    "id": 271,
    "title": "Battlestar"
}
</pre>
</div>

<h2>Return the users belonging to a tag</h2>
<p><span class="label label-info">GET</span> <code> /tags/:id/users</code>

<p><a class="btn js-expand" href="javascript:void()" data-show-element="user-tags">Example</a>

<div class="js-expandable user-tags">

<p><span class="label label-info">GET</span> <code> /tags/271/users</code>

<pre name="code" class="javascript">
[
    {
        "id": 1,
        "username": "will.adama@bg.com",
        "email": "will.adama@bg.com",
        "firstname": "Will",
        "lastname": "Adama"
    },
    {
        "id": 6,
        "username": "kara.thrace@bg.com",
        "email": "kara.thrace@bg.com",
        "firstname": "Kara",
        "lastname": "Thrace",
        "kind": "user"
    },
    {
        "id": 7,
        "username": "galen.tyrol@bg.com",
        "email": "galen.tyrol@bg.com",
        "firstname": "Galen",
        "lastname": "Tyrol",
        "kind": "user"
    },
    {
        "id": 8,
        "username": "samuel.anders@bg.com",
        "email": "samuel.anders@bg.com",
        "firstname": "Samuel",
        "lastname": "Anders",
        "kind": "candidate"
    }
]
</pre>
</div>


{% endblock %}

