{% extends "base.twig" %}

{% block title %} Tags {% endblock %}
{% block content %}

<h1>Users</h1>

<p></p>

<h2>Get all the tags for your company</h2>
<p><span class="label label-info">GET</span> <code> /tags</code> 

<p><a class="btn js-expand" href="javascript:void()" data-show-element="tags-example">Example</a>


<div class="js-expandable tags-example">
<p><span class="label label-info">GET</span> <code> /tags</code>	
<pre name="code" class="javascript">
[
    {
        "id": 16,
        "title": "Pilote",
        "type": 0
    },
    {
        "id": 17,
        "title": "Mécanicien",
        "type": 1
    },
    {
        "id": 18,
        "title": "Scientifique",
        "type": 2
    },
    {
        "id": 19,
        "title": "Politicien",
        "type": 3
    },
    {
        "id": 20,
        "title": "Viper",
        "type": 0
    },
    {
        "id": 21,
        "title": "Co-Pilote",
        "type": 0
    },
    {
        "id": 265,
        "title": "Statut",
        "type": 0
    },
    {
        "id": 266,
        "title": "En mission",
        "type": 0
    },
    {
        "id": 267,
        "title": "Disponible",
        "type": 0
    },
    {
        "id": 269,
        "title": "Localisation",
        "type": 0
    },
    {
        "id": 270,
        "title": "Caprica",
        "type": 0
    },
    {
        "id": 271,
        "title": "Battlestar",
        "color": 0
    },
    {
        "id": 272,
        "title": "Pegasus",
        "color": 0
    },
    {
        "id": 273,
        "title": "Basestar",
        "type": 0
    },
    {
        "id": 274,
        "title": "Colonial one",
        "type": 0
    }
]
</pre>
</div>



<h2>Get a single tag information</h2>
<p><span class="label label-info">GET</span> <code> /tags/:id</code>


<p><a class="btn js-expand" href="javascript:void()" data-show-element="tag-example">Example</a>
<div class="js-expandable tag-example">

<p><span class="label label-info">GET</span> <code> /tags/271</code>	
<pre name="code" class="javascript">
{
    "id": 271,
    "title": "Battlestar",
    "type": 1
}
</pre>
</div>

<h2>Return the users belonging to a tag</h2>
<p><span class="label label-info">GET</span> <code> /tags/:id/users</code>

<p><a class="btn js-expand" href="javascript:void()" data-show-element="user-tags">Example</a>

<div class="js-expandable user-tags">

<p><span class="label label-info">GET</span> <code> /tags/271/users</code>

<pre name="code" class="javascript">
[
    {
        "id": 1,
        "username": "will.adama@bg.com",
        "email": "will.adama@bg.com",
        "firstname": "Will",
        "lastname": "Adama"
    },
    {
        "id": 6,
        "username": "kara.thrace@bg.com",
        "email": "kara.thrace@bg.com",
        "firstname": "Kara",
        "lastname": "Thrace",
        "kind": "user"
    },
    {
        "id": 7,
        "username": "galen.tyrol@bg.com",
        "email": "galen.tyrol@bg.com",
        "firstname": "Galen",
        "lastname": "Tyrol",
        "kind": "user"
    },
    {
        "id": 8,
        "username": "samuel.anders@bg.com",
        "email": "samuel.anders@bg.com",
        "firstname": "Samuel",
        "lastname": "Anders",
        "kind": "candidate"
    }
]
</pre>
</div>

<h2>Return the tags colors</h2>
<ul class="color-box">    
    <li style="background-color:#7A7A7A">0</li>
    <li style="background-color:#c82e1e">1</li>
    <li style="background-color:#ffa800">2</li>
    <li style="background-color:#61ac00">3</li>
    <li style="background-color:#50a3d9">4</li>
    <li style="background-color:#738DA8">5</li>
    <li style="background-color:#b900db">6</li>
    <li style="background-color:#956200">7</li>
</ul>

<p><span class="label label-info">GET</span> <code> /tags/colors</code>



<p><a class="btn js-expand" href="javascript:void()" data-show-element="tag-colors">Example</a>

<div class="js-expandable tag-colors">

<p><span class="label label-info">GET</span> <code> /tags/colors</code>



<pre name="code" class="javascript">
[
    {
        "type": 0,
        "color": "7A7A7A"
    },
    {
        "type": 1,
        "color": "c82e1e"
    },
    {
        "type": 2,
        "color": "ffa800"
    },
    {
        "type": 3,
        "color": "61ac00"
    },
    {
        "type": 4,
        "color": "50a3d9"
    },
    {
        "type": 5,
        "color": "738DA8"
    },
    {
        "type": 6,
        "color": "b900db"
    },
    {
        "type": 7,
        "color": "956200"
    },

]
</pre>
</div>


{% endblock %}



