{% extends "base.twig" %}

{% block title %} Capping {% endblock %}
{% block content %}

<h1>Capping</h1>

<h2>How does it work?</h2>

<p>Each Search API Key has a quota. This quota is descreased every time you access a CV or User ressource. You can buy more quotas if you need.</p>

<p>The capping mechanism has two characteristics you may find useful:
	<ul>
		<li>It is on a user basis. If you access a user ressource THEN you access the same user CV, your quota will be decreased only once.</li>
		<li>It has a memory: if you access several times the same ressource, your quota will be decreased once. The quota memory has no limit.</li>
	</ul>
</p>

<h2>Get your account capping informations</h2>
<p><span class="label label-info">GET</span> <code>http://api.doyoubuzz.com/app/capping?apiKey=:apiKey</code> 

<pre name="code" class="xml">
	<response>
	 <views>
	  <done>5</done>
	  <available>295</available>
	 </views>
	 <expiration>2015-01-03</expiration>
	</response>
</pre>


<h2>Attributes</h2>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>done</td>
		<td>Total number of user/cv seen on the account</td>
		<td>integer</td>
	</tr>
	<tr>
		<td>available</td>
		<td>Total number of user/cv available on the account</td>
		<td>integer</td>
	</tr>
	<tr>
		<td>expiration</td>
		<td>Expiration date of the account</td>
		<td>Date (yyyy-mm-dd)</td>
	</tr>
</table>

{% endblock %}

