{% extends "base.twig" %}

{% block title %} CV {% endblock %}
{% block content %}

<h1>CV</h1>

<p>Return the CV data</p>

<p><span class="label label-warning">Note</span> Each call to this method for a different user will decrease your quota. See <a href="/search/capping"> our capping mechanism</a> for more information.</p>

<h2>Access</h2>
<p><span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/cv/:id?apiKey=:apiKey</code> 

<p>&nbsp;</p>

{% include 'common/cv.twig' %}		

{% endblock %}

