{% extends "base.twig" %}

{% block title %} Employment preferences {% endblock %}
{% block content %}

<h1>Employment preferences</h1>

<p>These information describe the employment preferences of the user, such as his location preferences, his wished salary, his main industry, etc.</p>

<h2>Access</h2>
<p>Get the employment preferences of a single user:<br>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/employmentpreferences?userId:id&amp;apiKey=:apiKey</code>
</p>

<br>

<p>Get the employment preferences of several users:<br>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/employmentpreferences?ids=:id1,:id2,:id3&amp;apiKey=:apiKey</code>
</p>

<p>&nbsp;</p>

{% include 'common/employment.twig' %}
		
{% endblock %}

