{% extends "base.twig" %}

{% block title %} Search {% endblock %}
{% block content %}

<h1>Search</h1>

<p>Search CV by keywords and filters</p>

{% include 'common/search-warning.twig' %}

<h2>Access</h2>

<span class="label label-info">POST</span> <code> https://api.doyoubuzz.com/search/?apiKey=:apiKey</code>

<span class="label label-warning">&amp;light=1</span> - during the transition period, add the light parameter to get the new response format

<p>&nbsp;</p>

{% include 'common/search.twig' %}		

{% endblock %}

