{% extends "base.twig" %}

{% block title %} DoYouBuzz Search API {% endblock %}
{% block content %}
   
<h2>Search API</h2>

<p>The Search API allows you to search the DoYouBuzz CV database programmatically.</p>
<p>As a software editor wanting to give access to the DoYouBuzz Search to your clients, this is your API.</p>

<h3>API Keys</h3>
<p><a href="http://search.doyoubuzz.com">Get in touch</a> with us to explain your project, and your account manager at DoYouBuzz will send your API keys.</p>

<h3>Schema</h3>

<h4>Access</h4>
<p><code>https://api.doyoubuzz.com/search/</code></p>

<h4>Format</h4>
<p>Datas are sent as XML and returned as JSON.</p>

<h4>Get started</h4>
<p>One you have your API Keys, test a <a href="/search/search">basic search request</a> and display a user CV with both the <a href="/search/user">user</a> and the <a href="/search/cv">CV</a> method.</p>


{% endblock %}

