{% extends "base.twig" %}

{% block title %} User {% endblock %}
{% block content %}

<h1>User</h1>

<p>Return a user's basic informations.</p>

<p><span class="label label-warning">Note</span> Each call to this method for a different user will decrease your quota. See <a href="/search/capping"> our capping mechanism</a> for more information.</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> https://api.doyoubuzz.com/user?userId=:id</code>

<p>&nbsp;</p>

{% include 'common/user.twig' %}	
		
{% endblock %}

