<div class="alert alert-success">
	For optimization purpose, we are changing the results returned by the search method. The new response format do not return the CV datas, as well as some other informations (you are still be able to access theses datas by doing additional requests). <strong>The full search response still works but should be considered as deprecated.</strong>
	
	<br><br>
	If you want to upgrade your application to match the new mechanism, you can add the "?light=1" parameter at the end of your request. We strongly encourage you to do so. When the transition will be over, we will simply mute this parameter. An <a href="#light-response">example of the new response</a> is given at the end of this document.

</div>