<div class="alert alert-success">
	For optimization purpose, we are changing the results returned by the search method. We have, right now, two different formats : the old format (called "full response") and the new format (called "light response"). The light response format do not return the CV datas, as well as some other informations (you are still able to access theses datas by doing additional requests). <strong>The full search response still works but should be considered as deprecated.</strong>
	
	<br><br>
	If you want to upgrade your application to match the light response, you can add the "?light=1" parameter at the end of your request. We strongly encourage you to do so.When the transition is be over, we will simply mute this parameter so every request with or without this parameter will return the light response format. An <a href="#light-response">example of the new response</a> is given at the end of this document.

	<br><br>No transition date has been announced as we are working with our partners one by one to ensure the transition goes smoothly.

</div>