<h2>Attributes</h2>

The attributes are given in XML in the POST body. The attributes below are wrapped in a &lt;search&gt; tag (see <a href="#requestExample">example</a>).

<p>&nbsp;</p>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>	
	<tr>
		<td><a class="js-expand" href="javascript:void()" data-show-element="search-queries"><i class="icon-plus-sign"></i> queries</a></td>	
		<td> All the query terms (default: no query).</td>	
	</tr>
		<tr class="js-expandable search-queries">
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-query"><i class="icon-plus-sign"></i> query</td>
			<td>A query description. You can have several queries on one search request: if you use several termes, the search matches all query words.</td>
		</tr>
		<tr class="js-expandable search-query level2">	
			<td>term</td>
			<td>The word(s) to search on. Please also see <a href="#operators">available operators</a>.</td>
		</tr>
		<tr class="js-expandable search-query level2">	
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-query-fields"><i class="icon-plus-sign"></i> fields</td>
			<td>List of fields to apply the search on.</td>
		</tr>
		<tr class="js-expandable search-query-fields level3">	
			<td>in</td>
			<td>Name of the field (see <a href="#fields">available fields</a>).</td>
		</tr>
	<tr>
		<td><a class="js-expand" href="javascript:void()" data-show-element="search-filters"><i class="icon-plus-sign"></i> filters</a></td>	
		<td>List of the filters to apply on the request.</td>	
	</tr>
		<tr class="js-expandable search-filters">
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-filter"><i class="icon-plus-sign"></i> filter</a></td>	
			<td>Filter description</td>	
		</tr>
		<tr class="js-expandable search-filter level2">
			<td>name</a></td>	
			<td>Filter name (see <a href="#filters">available filters</a>).</td>	
		</tr>
		<tr class="js-expandable search-filter level2">
			<td>min</a></td>	
			<td>If you want to use a filter as a range filter, minimum value.</td>	
		</tr>
		<tr class="js-expandable search-filter level2">
			<td>max</a></td>	
			<td>If you want to use a filter as a range filter, maximum value.</td>	
		</tr>
		<tr class="js-expandable search-filter level2">
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-filter-value"><i class="icon-plus-sign"></i> values</a></td>	
			<td>If you want to use an exact match filter, specify the value(s)</td>	
		</tr>
		<tr class="js-expandable search-filter-value level3">
			<td>value</a></td>	
			<td>Value for the exact match filter (integer)</td>	
		</tr>

	<tr>
		<td style="width:120px;"><a class="js-expand" href="javascript:void()" data-show-element="search-geo"><i class="icon-plus-sign"></i> geo</a></td>	
		<td>Limit the search on the users who agree to work in a specific location. On DoYouBuzz the user can select one or several countries and / or one or several cities with a perimeter for each city. For example if the user chooses Paris with a perimeter of 50 kilometers, then he will match a search on Versailles or any other city or GPS location in a 50km perimeter of Paris.</td>	
	</tr>
		<!-- CITIES -->
		<tr class="js-expandable search-geo">
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-cities"><i class="icon-plus-sign"></i> cities</a></td>
			<td>Limit the search with cities criteria (if you send several cities, the operator applied will be AND, meaning the user matching both cities will be returned by the search)</td>	
		</tr>
			<!-- CITY -->
			<tr class="js-expandable search-cities level2">
				<td><a class="js-expand" href="javascript:void()" data-show-element="search-city"><i class="icon-plus-sign"></i> city</a></td>	
				<td>City criteria</td>	
			</tr>
				<!-- COUNTRY -->
				<tr class="js-expandable search-city level3">
					<td>country</td>
					<td>Country ISO 3166 code</td>
				</tr>
				<!-- ZIPCODE -->
				<tr class="js-expandable search-city level3">
					<td>zipcode</td>
					<td>City zipcode (only FR cities works for now)</td>
				</tr>

		<!-- COORDINATES -->
		<tr class="js-expandable search-geo">
			<td><a class="js-expand" href="javascript:void()" data-show-element="search-coordinates"><i class="icon-plus-sign"></i> coordinates</a></td>	
			<td>GPS coordinates criteria</td>	
		</tr>
			<!-- COORDINATE -->
			<tr class="js-expandable search-coordinates level2">
				<td><a class="js-expand" href="javascript:void()" data-show-element="search-coordinate"><i class="icon-plus-sign"></i> coordinate</a></td>
				<td>GPS coordinates </td>
			</tr>
				<!-- LATITUDE -->
				<tr class="js-expandable search-coordinate level3">
					<td>latitude</td>
					<td>Coordinate latitude</td>
				</tr>
				<!-- LONGITUDE -->
				<!-- LATITUDE -->
				<tr class="js-expandable search-coordinate level3">
					<td>longitude</td>
					<td>Coordinate longitude</td>
				</tr>
				<!-- LONGITUDE -->

	<tr>
		<td><a class="js-expand" href="javascript:void()" data-show-element="search-limits"><i class="icon-plus-sign"></i> limits</a></td>	
		<td>Limits to apply on the request.</td>	
	</tr>
		<tr class="js-expandable search-limits">
			<td>Offset</td>	
			<td></td>	
		</tr>
		<tr class="js-expandable search-limits">
			<td>Limit</td>	
			<td></td>	
		</tr>
</table>
	
	
<h2>Available fields &amp; options</h2>
	
	
<a name="fields"></a>
<h3>List of available query fields</h3>
<table class="table table-bordered table-striped">
	<tr>
		<td>cv</td>
		<td>Search in the CV Title, presentation text and short cv description</td>
	</tr>
	<tr>	
		<td>jobs</td>
		<td>Search in the job title, job description, job company and job mission description</td>
	</tr>
	<tr>
		<td>skills</td>
		<td>Search in skills title and description</td>
	</tr>
	<tr>
		<td>educations</td>
		<td>Search in educations title, diploma and description</td>
	</tr>
	<tr>
		<td>location</td>
		<td>Search in the city (as seen on the CV)</td>
	</tr>
</table>

<a name="operators"></a>
<h3>List of available search operators</h3>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Syntax</th>
		<th>Example</th>
	</tr>
	<tr>
		<td>OR</td>
		<td>|</td>
		<td>hello | world</td>
	</tr>
	<tr>
		<td>NOT</td>
		<td>!</td>
		<td>hello !world</td>
	</tr>
	<tr>
		<td>Phrase search operator</td>
		<td>"phrase"</td>
		<td>“hello world”</td>
	</tr>
	<tr>
		<td><strong>Proximity search operator</strong>.<br>
		Proximity distance is specified in words, adjusted for word count, and applies to all words within quotes. For instance, "cat dog mouse"~5 query means that there must be less than 8-word span which contains all 3 words, ie. "CAT aaa bbb ccc DOG eee fff MOUSE" document will not match this query, because this span is exactly 8 words long.

		</td>
		<td>"term"~number</td>
		<td>“hello world”~10</td>
	</tr>
</table>

	

<a name="filters"></a>
<h3>List of available filter names</h3>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>		
	<tr>
		<td>position</td>
		<td>The position seeked by user. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>business</td>
		<td>The business sector in wich the user works. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>completion</td>
		<td>Completion rate of the CV, between 0 and 100</td>
	</tr>
	<tr>
		<td>contract</td>
		<td>The contract the user specified in his employment preferences.  Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>educationLevel</td>
		<td>The education level of the user. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>grossSalaryMin</td>
		<td>The minimal gross salary. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>grossSalaryMax</td>
		<td>The maximum gross salary. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>seniority</td>
		<td>The seniority of the user. Please refer to <a href="/baseslist">Baseslist</a>.</td>
	</tr>
	<tr>
		<td>freshness</td>
		<td>The freshness (in days) since the CV last update.</td>
	</tr>
	<tr>
		<td>availability</td>
		<td>The availability (as seen on the CV).</td>
	</tr>
	<tr>
		<td>professional_status</td>
		<td>The professional_status (as seen on the CV).</td>
	</tr>
	<tr>
		<td>created_since</td>
		<td>The number of day since the creation of the CV.</td>
	</tr>
	<tr>
		<td>group</td>
		<td>The group’s ID the user belong to. Eligible for partners only.</td>
	</tr>
	<tr>
		<td>alumni</td>
		<td>Wether or not the user is an alumni. Eligible for partners only.</td>
	</tr>
</table>

<a name="requestExample"></a>
<h2>Request example</h2>
<pre name="code" class="xml">
	<search>
		<queries>
			<query>
				<term>PHP</term>
				<fields>
					<in>cv</in>
					<in>jobs</in>
					<in>educations</in>
				</fields>
			</query>
		</queries>
		<filters>
			<filter>
				<name>seniority</name>
				<min>1</min>
				<max>5</max>
			</filter>
			<filter>
				<name>professional_status</name>
				<values>
					<value>1</value>
				</values>
			</filter>
		</filters>
		<geo>
			<cities>
                <city>
                    <country>FR</country>
                    <zipcode>44000</zipcode>
                </city>
			</cities>
			<coordinates>
                <coordinate>
                    <latitude>47.213520</latitude>
                    <longitude>-1.561381</longitude>
                </coordinate>
			</coordinates>
		</geo>		
		<limits>
			<offset>0</offset>
			<limit>10</limit>
		</limits>
	</search>
</pre>

<h2>Response example</h2>
<pre name="code" class="xml">
<response>
	<results>
  		<result>
			<score>50575</score>
			<resume>
      			... See CV details ...
    		</resume>
  		</result>
 	</results>
 	<total>3</total>
 	<returned>3</returned>
 	<offset>0</offset>
 	<limit>10</limit>
</response>
</pre>
