{% extends "base.twig" %}

{% block title %} User {% endblock %}
{% block content %}

<h1>Partner groups</h1>

<p>Return a list of the partner groups</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/partner/groups</code>

<span class="label label-warning">Don't forget to append your API Key and API Secret parameters!</span>


<p>&nbsp;</p>

<h2>Attributes</h2>

<p>&nbsp;</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>
			<a class="js-expand" href="javascript:void()" data-show-element="partner-groups"><i class="icon-plus-sign"></i> groups</a>
		</td>
		<td></td>
		<td>Element</td>
	</tr>
	<tr class="js-expandable partner-groups">
		<td>
			<a class="js-expand" href="javascript:void()" data-show-element="partner-group"><i class="icon-plus-sign"></i> group</a>
		</td>
		<td></td>
		<td>Element</td>
	</tr>	
	<tr class="js-expandable partner-group level2">
		<td>id</td>
		<td>Id of the group (according to DoYouBuzz database)</td>	
		<td>integer</td>
	</tr>
	<tr class="js-expandable partner-group level2">
		<td>title</td>
		<td>Name of the group</td>	
		<td>string</td>
	</tr>
	<tr class="js-expandable partner-group level2">
		<td>description</td>
		<td>Description of the group</td>	
		<td>string</td>
	</tr>
	<tr class="js-expandable partner-group level2">
		<td>parentId</td>
		<td>Id of the parent group (tree organization, infinite level possible)</td>	
		<td>integer</td>
	</tr>
	<tr class="js-expandable partner-group level2">
		<td>externalId</td>
		<td>Id of the group (according to the partner Database, if the SSO has been used)</td>	
		<td>string</td>
	</tr>	
</table>
		


{% set xml %}

<?xml version="1.0"?>
<response>
 <groups>
  <group>
   <id>48</id>
   <title>Tous Les Membres</title>
   <description>Ceci est le groupe principal.</description>
   <parentId>0</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>68</id>
   <title>MGE_2A_FIN</title>
   <description>PGE Finance</description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>69</id>
   <title>MGE_3A_FIN</title>
   <description>PGE Finance</description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>70</id>
   <title>MGE-2A-MSI</title>
   <description></description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>97</id>
   <title>PGE 3A FINANCE</title>
   <description>PGE Finance</description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>419</id>
   <title>Bachelor</title>
   <description></description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>420</id>
   <title>Licence Professionnelle</title>
   <description></description>
   <parentId>48</parentId>
   <externalId/>
  </group>
 </groups>
 <groups>
  <group>
   <id>421</id>
   <title>ESG</title>
   <description/>
   <parentId>48</parentId>
   <externalId>4</externalId>
  </group>
 </groups>
 <groups>
  <group>
   <id>427</id>
   <title>Bachelor</title>
   <description/>
   <parentId>48</parentId>
   <externalId>1</externalId>
  </group>
 </groups>
 <groups>
  <group>
   <id>428</id>
   <title>Licence Professionnelle</title>
   <description/>
   <parentId>48</parentId>
   <externalId>2</externalId>
  </group>
 </groups>
 <groups>
  <group>
   <id>431</id>
   <title>Programme Grande Ecole</title>
   <description/>
   <parentId>48</parentId>
   <externalId>3</externalId>
  </group>
 </groups> 
</response>



{%  endset %}

{% set json %}


{
  "groups":[
    {
      "group":{
        "id":48,
        "title":"Tous Les Membres",
        "description":"Ceci est le groupe principal.",
        "parentId":0,
        "externalId":null
      }
    },
    {
      "group":{
        "id":68,
        "title":"MGE_2A_FIN",
        "description":"PGE Finance",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":69,
        "title":"MGE_3A_FIN",
        "description":"PGE Finance",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":70,
        "title":"MGE-2A-MSI",
        "description":"",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":97,
        "title":"PGE 3A FINANCE",
        "description":"PGE Finance",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":419,
        "title":"Bachelor",
        "description":"",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":420,
        "title":"Licence Professionnelle",
        "description":"",
        "parentId":48,
        "externalId":null
      }
    },
    {
      "group":{
        "id":421,
        "title":"ESG",
        "description":null,
        "parentId":48,
        "externalId":"4"
      }
    },
    {
      "group":{
        "id":427,
        "title":"Bachelor",
        "description":null,
        "parentId":48,
        "externalId":"1"
      }
    },
    {
      "group":{
        "id":428,
        "title":"Licence Professionnelle",
        "description":null,
        "parentId":48,
        "externalId":"2"
      }
    },
    {
      "group":{
        "id":431,
        "title":"Programme Grande Ecole",
        "description":null,
        "parentId":48,
        "externalId":"3"
      }
    }
  ]
}

{% endset %}
		
{% include 'examples.twig' %}

				
{% endblock %}

