{% extends "base.twig" %}

{% block title %} Member by exteral id {% endblock %}
{% block content %}

<h1>Member by external id</h1>

<p>Return a user by requestig his external id (id stored by the partner in hiw own system). The partner must have enabled and used SSO.</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/partner/memberbyextid/:externalid</code>

<span class="label label-warning">Don't forget to append your API Key and API Secret parameters!</span>


<p>&nbsp;</p>

<h2>Parameters</h2>

<table class="table .table-bordered .table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>externalid</td>
		<td><span class="label label-warning">mandatory</span> External id of the user (id stored by the partner in hiw own system)</td>
		<td>String</td>
	</tr>
</table>

<p>&nbsp;</p>

<h2>Attributes</h2>

<table class="table .table-bordered .table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>id</a></td>
		<td>Id of the user</td>
		<td>integer</td>
	</tr>
</table>

{% set xml %}

<?xml version="1.0"?>
<response>
 <user>
  <id>2</id>
 </user>
</response>


{%  endset %}

{% set json %}


{
  "user":{
    "id":2
  }
}

{% endset %}
		
{% include 'examples.twig' %}
		
{% endblock %}

