{% extends "base.twig" %}

{% block title %} User {% endblock %}
{% block content %}

<h1>Partner group users</h1>

<p>Return a list of users who are in a given group</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/group/:groupid</code>

<span class="label label-warning">Don't forget to append your API Key and API Secret parameters!</span>


<p>&nbsp;</p>

<h2>Attributes</h2>

<p>&nbsp;</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>
			<a class="js-expand" href="javascript:void()" data-show-element="partner-group"><i class="icon-plus-sign"></i> group</a>
		</td>
		<td></td>
		<td>Element</td>
	</tr>	
	<tr class="js-expandable partner-group">
		<td>id</td>
		<td>Id of the group (according to DoYouBuzz database)</td>	
		<td>integer</td>
	</tr>
	<tr class="js-expandable partner-group">
		<td>title</td>
		<td>Name of the group</td>	
		<td>string</td>
	</tr>
	<tr class="js-expandable partner-group">
		<td>description</td>
		<td>Description of the group</td>	
		<td>string</td>
	</tr>
	<tr class="js-expandable partner-group">
		<td>parentId</td>
		<td>Id of the parent group (tree organization, infinite level possible)</td>	
		<td>integer</td>
	</tr>
	<tr class="js-expandable partner-group">
		<td>externalId</td>
		<td>Id of the group (according to the partner Database, if the SSO has been used)</td>	
		<td>string</td>
	</tr>	
	<tr class="js-expandable partner-group">
		<td>
			<a class="js-expand" href="javascript:void()" data-show-element="partner-groups-members"><i class="icon-plus-sign"></i> groupsMembers</a>
		</td>
		<td>List of the group's members</td>	
		<td>element</td>
	</tr>
	<tr class="js-expandable partner-groups-members level2">
		<td>
			<a class="js-expand" href="javascript:void()" data-show-element="membership"><i class="icon-plus-sign"></i> membership</a>
		</td>
		<td>A single membership description</td>	
		<td>element</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>userId</td>
		<td>Id of the user</td>	
		<td>id</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>joinedAt</td>
		<td>Datetime when the user joined the group</td>	
		<td>Datetime</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>externalId</td>
		<td>Id of the user (according to the partner Database, if the SSO has been used)</td>	
		<td>string</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>indexable</td>
		<td>Wether or not the user can be indexed in the partner's search engine. All the users are indexable by default but a specific action on the partner backoffice can prevent a user from being accessible in the search engine. Please note : if the value is set to 1, this does not mean the user is accessible in the search engine, it means he has not been manually removed.</td>	
		<td>boolean</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>alumni</td>
		<td>Wether or not the user is an alumni (configurable on the partner backoffice).</td>	
		<td>boolean</td>
	</tr>
	<tr class="js-expandable membership level3">
		<td>graduation_year</td>
		<td>Member's graduation year. This value can be set only if alumni is set to 1</td>	
		<td>integer (4 digits)</td>
	</tr>
</table>

<p>&nbsp;</p>



{% set xml %}



<?xml version="1.0"?>
<response>
 <group>
  <id>48</id>
  <title>Tous Les Membres</title>
  <description>Ceci est le groupe principal.</description>
  <parentId>0</parentId>
  <externalId/>
  <groupsMembers>
   <membership>
    <userId>51065</userId>
    <joinedAt>2010-12-20T15:45:12</joinedAt>
    <externalId>brossard</externalId>
    <indexable>1</indexable>
    <alumni></alumni>
    <graduation_year></graduation_year>
   </membership>
   <membership>
    <userId>55634</userId>
    <joinedAt></joinedAt>
    <externalId></externalId>
    <indexable>1</indexable>
    <alumni>1</alumni>
    <graduation_year></graduation_year>
   </membership>
   <membership>
    <userId>77339</userId>
    <joinedAt>2011-07-18T15:38:59</joinedAt>
    <externalId>arbib</externalId>
    <indexable>1</indexable>
    <alumni></alumni>
    <graduation_year></graduation_year>
   </membership>
  </groupsMembers>
 </group>
</response>


{%  endset %}

{% set json %}


{
  "group":{
    "id":48,
    "title":"Tous Les Membres",
    "description":"Ceci est le groupe principal.",
    "parentId":0,
    "externalId":null,
    "groupsMembers":{
      "membership":[
        {
          "userId":51065,
          "joinedAt":"2010-12-20T15:45:12",
          "externalId":"pierrot",
          "indexable":true,
          "alumni":false,
          "graduation_year":""
        },
        {
          "userId":55634,
          "joinedAt":"",
          "externalId":"chabilot",
          "indexable":true,
          "alumni":true,
          "graduation_year":""
        },
        {
          "userId":294687,
          "joinedAt":"2012-05-05T03:41:53",
          "externalId":"croquepixelot",
          "indexable":true,
          "alumni":false,
          "graduation_year":""
        }
      ]
    }
  }
}

{% endset %}
		
{% include 'examples.twig' %}
		
{% endblock %}

