{% extends "base.twig" %}

{% block title %} User {% endblock %}
{% block content %}

<h1>Partner</h1>

<p>Return the partner informations</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/partner</code>

<span class="label label-warning">Don't forget to append your API Key and API Secret parameters!</span>


<p>&nbsp;</p>

<h2>Attributes</h2>

<p>&nbsp;</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>title</td>
		<td>Name of the partner</td>
		<td>string</td>
	</tr>
	<tr>
		<td>defaultCulture</td>
		<td>Default culture of the partner (possible values: fr_FR, en_US, en_UK, it_IT, es_ES, de_DE)</td>	
		<td>string</td>
	</tr>
	<tr>
		<td>slug</td>
		<td>Slug of the partner</td>	
		<td>string</td>
	</tr>
	<tr>
		<td>registeredAt</td>
		<td>Datetime of the partner account registration</td>	
		<td>Datetime</td>
	</tr>
</table>

<p>&nbsp;</p>



{% set xml %}


<?xml version="1.0"?>
<response>
 <partner>
  <id>56212</id>
  <title>Awesome Partner</title>
  <defaultCulture>fr_FR</defaultCulture>
  <slug>awesome-partner</slug>
  <registeredAt>2010-06-29T14:47:24</registeredAt>
 </partner>
</response>


{%  endset %}

{% set json %}

{
  "partner":{
    "id":56212,
    "title":"Awesome Partner",
    "defaultCulture":"fr_FR",
    "slug":"awesome-partner",
    "registeredAt":"2010-06-29T14:47:24"
  }
}

{% endset %}
		
{% include 'examples.twig' %}

		
{% endblock %}

