{% extends "base.twig" %}

{% block title %} Public URL {% endblock %}
{% block content %}

<h1>Public URL</h1>

<p>Return the public URL of the CV. According to the conf parameter, this will return the public DoYouBuzz CV URL or the branded CV URL (if this option is active on your partner account).</p>

<h2>Access</h2>
<span class="label label-info">GET</span> <code> http://api.doyoubuzz.com/publicurl?cvId=:cv&conf=:conf</code>

<span class="label label-warning">Don't forget to append your API Key and API Secret parameters!</span>

<p>&nbsp;</p>

<h2>Attributes</h2>

<p>&nbsp;</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
	</tr>		
	<tr>
		<td>cvId</td>
		<td>Id of the CV</td>
		<td>integer</td>
	</tr>
	<tr>
		<td>conf</td>
		<td>Configuration of the CV you want to get (values allowed : "doyoubuzz" OR "partner", default : "doyoubuzz")</td>	
		<td>string</td>
	</tr>	
</table>

<p>&nbsp;</p>

{% set xml %}

<?xml version="1.0"?>
<response>
 <publicUrl>http://adecco.doyoubuzz.com/PtNNDIlnqxYfI5RuiMpp55g</publicUrl>
</response>

{%  endset %}

{% set json %}

{
  "publicUrl": "http:\/\/adecco.doyoubuzz.com\/PtNNDIlnqxYfI5RuiMpp55g"
}

{%  endset %}	


{% include 'examples.twig' %}

		
{% endblock %}

