{% extends "base.twig" %}

{% block title %} Search {% endblock %}
{% block content %}

<h1>Search</h1>
<p>Search CV by keywords and filters</p>

<p><span class="label label-warning">Note</span> The search will apply on your private CV database.</p>

<h2>Access</h2>
<span class="label label-info">POST</span> <code> http://api.doyoubuzz.com/search/?apiKey=:apiKey</code>

<p>&nbsp;</p>

{% include 'common/search.twig' %}		

{% endblock %}

